@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 247 247 245;
    --foreground: 31 41 55;
  }

  body {
    @apply bg-background text-text antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
